.outer {
    width: '100%';
    height: 600px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.chart {
    width: 2000px;
    background-color: #eee;
    float: none;
    height: 500px;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}